
<div>
    <nav-bar  index1="3" index2=""></nav-bar>
    <div class="main_content">
        <enjoy-menu></enjoy-menu>
        <div class="content_box">
            <div class="mum" ng-show="mum">
                <div class="m-load2">
                    <div class="line">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="circlebg"></div>
                </div>
            </div>
            <div class="product_content_left">
                <a class="btn_back" ng-click="back()">返回</a>
                <a class="export" ng-click="educeLis()" style="width:135px;height:40px;line-height: 40px;">导出列表</a>
            </div>
            <div class="product_content_right">
                <div class="rightCenter">
                    <div class=" time_box" style="margin-bottom: 30px;">
                            <span class="bold agencyTime">时间：&nbsp&nbsp&nbsp</span>

                            <input class="time MStart laydate-icon" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});" style="width:22%">&nbsp--&nbsp<input class="time MEnd laydate-icon" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});" style="width:22%">
                            <input type="button" value="搜索" class="search_btn top_1" ng-click="searchMonthlyBalance()" style=" width: 133px;margin-left: 30px;background: #4f8ffd; color: #fff;">

                    </div>
                    <div class="tableBox">
                        <h5>本人消费记录:</h5>
                        <div class="table_lis">
                            <table class="table  table-hover text-center table-bordered ">
                                <tr id="product_lis_title1">
                                    <th class="text-center">昵称</th>
                                    <th class="text-center">手机号</th>
                                    <th class="text-center">当前等级</th>
                                    <th class="text-center">订单生成等级</th>
                                    <th class="text-center">支付金额</th>
                                    <th class="text-center">付款时间</th>
                                    <th class="text-center">订单编号</th>
                                    <th class="text-center">交易流水号</th>
                                </tr>
                                <tr ng-repeat=  "item in abschluss">
                                    <td>{{item.nextUserNickName}}</td>
                                    <td>{{item.mobile}}</td>
                                    <td>{{item.userTypeNow}}</td>
                                    <td>{{item.userType}}</td>
                                    <td>{{item.orderAmount}}</td>
                                    <td>{{item.payDate|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                    <td>{{item.orderId}}</td>
                                    <td>{{item.transactionId}}</td>
                                </tr>
                            </table>
                            <div detail-page></div>
                        </div>
                    </div>
                    <div class="tableBox">
                        <h5>本人下级月消费记录:</h5>
                        <div class="table_lis">
                            <table class="table  table-hover text-center table-bordered ">
                                <tr id="product_lis_title">
                                    <th class="text-center">昵称</th>
                                    <th class="text-center">手机号</th>
                                    <th class="text-center">当前等级</th>
                                    <th class="text-center">订单生成等级</th>
                                    <th class="text-center">支付金额</th>
                                    <th class="text-center">付款时间</th>
                                    <th class="text-center">订单编号</th>
                                    <th class="text-center">交易流水号</th>
                                </tr>
                                <tr ng-repeat="item in monthlyPar">
                                    <td>{{item.nextUserNickName}}</td>
                                    <td>{{item.mobile}}</td>
                                    <td>{{item.nextUserTypeNow}}</td>
                                    <td>{{item.nextUserType}}</td>
                                    <td>{{item.orderAmount}}</td>
                                    <td>{{item.payDate|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                    <td>{{item.orderId}}</td>
                                     <td>{{item.transactionId}}</td>
                                </tr>
                            </table>
                            <div page-tool></div>
                        </div>
                    </div>
                  <!--  <div >
                        <input type="button" value="审核通过" class="auditBtn" ng-click="true()">
                        <input type="button" value="审核驳回" class="auditBtn" ng-click="cancel()">
                    </div>-->


                </div>
            </div>
        </div>
    </div>
</div>