<div>

    <nav-bar index1="2" index2="23"></nav-bar>
    <div class="main_content">
        <enjoy-menu></enjoy-menu>
        <div class="content_box">
         <div class="mum" ng-show="mum">
                <div class="m-load2">
                    <div class="line">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="circlebg"></div>
                </div>
            </div>
         <div class="product_content_right">
             <div class="rightCenter">
                 <div class="product_eara">
                   <!--  div class="product_name" style="width:95%;">
                     <div class="product_nameEara " style="float:left; width:35%;">
                         <  <label  for="financeName" style="width:85px;" class="bold">图片编号:</label>
                             <input type="text" class="product_search imgId" ng-model="bills" id="financeName">
                         </div>
                         <div class="orderTime product_nameEara" style="float:left; width:60%;">
                             <label class="bold">
                                 创建时间：
                             </label>
                             <input  class="imgCreateStart date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});" >&nbsp&#45;&#45;&nbsp<input class="imgCreateEnd date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"  >
                         </div>
                     </div>-->
                   <!--  <div class="product_searchEara"  style="width:95%;heght:45px;">
                         <input type="button" value="搜索" style="margin-top:30px;float:right;" class="search_btn" ng-click="loadPageList()">
                     </div>-->
                 </div>
                 <div class="table_lis">
                     <div>
                         <a class="order_lis simulateBtn" ng-click="createImage()">上传图片</a>
                     </div>
                     <table class="table   table-hover text-center ">
                         <thead>
                         <tr id="product_lis_title">
                             <th class="text-center">图片编号</th>
                             <th class="text-center">图片类型</th>
                             <th class="text-center">创建时间</th>
                             <th class="text-center" >图片</th>
                             <th class="text-center" >跳转url</th>
                             <th class="text-center" colspan="3">操作</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="item in bannerList" >
                             <td class="text-center">{{item.bannerId}}</td>
                             <td class="text-center">{{item.bannerType}}</td>
                             <td class="text-center">{{item.createDate|date:'yyyy-MM-dd'}}</td>
                             <td class="text-center"><img ng-src="{{item.uri}}" style="max-width:100%;" /></td>
                             <td class="text-center">{{item.forward}}</td>
                             <td class="text-center" ng-click="void();$event.stopPropagation()" colspan="3" >
                                 <a ui-sref="homeImageUpload({bannerType:item.bannerType,forward:item.forward,uri:item.uri,bannerId:item.bannerId})" class="orderBtn" >编辑</a>
                                 &nbsp;
                                 <a ng-click="remove(item.bannerId,item.bannerRank);$event.stopPropagation()" class="orderBtn" >移除</a>
                                 &nbsp;
                                 <a ng-click="upAndDownBanner(item.bannerId,'up',item.bannerRank);$event.stopPropagation()" ng-show="item.bannerRank!=1" class="orderBtn" ng-if="item.bannerType == 'banner'" >上移</a>
                                 &nbsp;
                                 <a ng-click="upAndDownBanner(item.bannerId,'down',item.bannerRank);$event.stopPropagation()" class="orderBtn" ng-if="item.bannerType == 'banner'" >下移</a>
                             </td>
                         </tr>
                         </tbody>
                     </table>
                     <div ng-show="false" page-tool></div>
                 </div>
             </div>
        </div>
     </div>
    </div>
</div>