<div ng-click="bgAll()">
    <nav-bar></nav-bar>
    <div class="main_content">
        <enjoy-menu></enjoy-menu>
        <div class="content_box">
            <div class="mum mum1" ng-show="mum">
                <div class="m-load2">
                    <div class="line">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="circlebg"></div>
                </div>
            </div>
            <div class="product_content_right">
                <div class="rightCenter">
                    <div class="product_particulars">
                        <div class="name_row">
                            <label for="name">
                                商品编号:
                            </label>
                            <input type="text" id="name" class="product_type uploading_product_name_search name"
                                   ng-model="param.productId">
                        </div>
                        <div class="name_row">

                            <label for="brand">商品名称:</label>
                            <input type="text" id="brand" class="product_type uploading_product_name_search name"
                                   ng-model="param.productName">

                        </div>
                        <!--<div class="name_row">-->
                        <!--<label>分类:</label>-->
                        <!--<select ng-change="checkTwo(param.oneId,'one')" ng-model="param.oneId" class="product_type types">-->
                        <!--<option value="">请选择</option>-->
                        <!--<option ng-repeat="item in oneClassList" value="{{item.productClassId}}">{{item.productClassName}}</option>-->
                        <!--</select>-->
                        <!--<select ng-if="checkTwoFlag" ng-model="item"  data-ceshi="{{param.twoCheck}}" ng-change="checkTwo(item,'two')" class="product_type types">-->
                        <!--<option value="">请选择</option>-->
                        <!--<option ng-repeat="twoItem in twoClassLiat" value="{{twoItem}}">{{twoItem.productClassName}}</option>-->
                        <!--</select>-->


                        <!--<select ng-if="!checkTwoFlag"class="product_type types" ng-click="checkTwoFlagFn()">-->
                        <!--<option value="param.secondType">{{param.secondType}}</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--<div class="name_row">-->
                        <!--<label for="state">状态:</label>-->
                        <!--<select id="state" class="product_type states uploading_product_name_search">-->
                        <!--<option value="1">上架</option>-->
                        <!--<option value="0">下架</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <div class="uploading_product_name">
                            <label for="brand">
                                商品品牌:
                            </label>
                            <input type="text" id="brand" class="uploading_product_name_search "
                                   value="{{param.brand}}">
                        </div>
                        <div class="uploading_product_name">
                            <label for="productSalesVolume">
                                商品零售价:
                            </label>
                            <input type="text" id="productSalesVolume" class="uploading_product_name_search "
                                   ng-model="param.price">
                        </div>
                        <div class="uploading_product_name">
                            <label for="price">
                                商品价格:
                            </label>
                            <input type="text" id="productMarketPrice" class="uploading_product_name_search price"
                                   ng-model="uploadingPar.productDetail.productMarketPrice">
                        </div>
                        <div class="uploading_product_name">
                            <label for="stock">
                                库存:
                            </label>
                            <input type="text" id="stock" class="uploading_product_name_search "
                                   ng-model="param.productAmount">
                        </div>
                        <div class="name_row blank">
                            <label for="introduction" style="vertical-align: top">简介:</label>
                            <textarea cols="50" rows="7" id="introduction" style="text-indent: 2rem" ;>{{param.description}} </textarea>
                        </div>
                        <div class="name_row blank">
                            <label for="list_view">宣传图:</label>
                            <input type="file" id="publicity"/>
                            <img ng-src="{{hintPic3}}" class="hintPic" ng-show="hintPic3!=''?true:false">

                        </div>
                        <div id="publicityPic"></div>
                    </div>
                    <div class="name_row blank">
                        <label for="list_view">列表图:</label>
                        <input type="file" id="list_view" multiple/>
                        <img ng-src="{{hintPic1}}" class="hintPic" ng-show="hintPic1!=''?true:false">
                    </div>
                    <div id="list_viewPic"></div>
                    <div class="name_row blank">
                        <label for="particulars_view">详情图:</label>
                        <input type="file" id="particulars_view" multiple/>
                        <img ng-src="{{hintPic2}}" class="hintPic" ng-show="hintPic2!=''?true:false">
                    </div>
                    <div id="particulars_viewPic"></div>
                    <div class="name_row blank typelis">
                        <label>型号：</label>
                        <span ng-repeat="item in uploadingPar.productDetail.spec"
                              ng-click="delType(item,$index);$event.stopPropagation()"
                              ng-model="colName">{{item}}</span>
                        <button class="model_btn" ng-click="type();$event.stopPropagation()">添加型号</button>
                    </div>
                    <div class="add_type" ng-show="flag" ng-click="void();$event.stopPropagation()">
                        <p><label for="col">规格</label><input type="text" id="col" class="col"></p>
                        <p><input type="button" value="确定" class="type_btn"
                                  ng-click="typeTrue();$event.stopPropagation()"></p>
                    </div>
                    <div class="add_type del_type" ng-show="flagDel" ng-click="void();$event.stopPropagation()">
                        <p><label for="col1">规格</label><input type="text" id="col1" class="col" ng-model="colName"></p>
                        <p><input type="button" value="确定删除" class="typeDel_btn" ng-click="typeDelTrue(0)">
                            <input type="button" value="确定修改" class="typeDel_btn" ng-click="typeDelTrue(1)">
                        </p>
                    </div>
                    <div class="name_row blank">
                        <label>包邮：</label>
                        <p><input type="checkbox" id="postage">
                            <label for="postage">包邮</label></p>
                    </div>
                    <div class="name_row">
                        <label for="state">状态:</label>
                        <select id="state" class="product_type states uploading_product_name_search">
                            <option value="1">上架</option>
                            <option value="0">下架</option>
                        </select>
                    </div>
                    <div class="save">
                        <button class="save_btn" ng-click="submit()">保存</button>
                        <p style="color:red;text-align: center;margin-top:20px;" ng-show="mess">请检查信息</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

