  <div ng-click="bgAll()">
     <nav-bar index1="6" index2="64"></nav-bar>
     <div class="main_content">
         <enjoy-menu></enjoy-menu>
         <div class="content_box">
             <div class="mum" ng-show="mum">
                 <div class="m-load2">
                     <div class="line">
                         <div></div>
                         <div></div>
                         <div></div>
                         <div></div>
                         <div></div>
                         <div></div>
                     </div>
                     <div class="circlebg"></div>
                 </div>
             </div>
             <div class="product_content_right">
                 <div class="rightCenter">
                     <div class="product_eara">
                         <div class="product_name">
                             <div class="product_nameEara">
                                 <label class="bold">手机OR身份证</label>
                                 <input type="text" class="product_search" ng-model="counnt">
                             </div>
                         </div>
                         <div class="product_name big time_box">
                             <div class="product_nameEara">
                                 <label class="bold" >
                                     申请时间：
                                 </label>
                                 <input class="time applyStartTime date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});" >&nbsp--&nbsp<input  class="time applyEndTime date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});" >
                             </div>
                             <div class="product_nameEara">
                                 <label class="bold" value="withdraw">
                                 提现时间：
                             </label>
                                 <input class="time updateStartTime date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});">&nbsp--&nbsp<input class="time updateEndTime date"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});">
                             </div>
                         </div>
                         <div class="product_searchEara">
                             <input type="button" value="搜索" ng-click="searchWithdraw();$event.stopPropagation()" class="search_btn">
                         </div>
                     </div>
                     <div class="table_lis">
                         <div >
                             <a class="order_lis simulateBtn" ng-click="educeLis()">导出列表</a>
                         </div>
                         <table class="table  text-center ">
                             <thead>
                             <tr id="product_lis_title">
                                 <th class="text-center" >交易号</th>
                                 <th class="text-center" >昵称</th>
                                 <th class="text-center" >用户等级</th>
                                 <th class="text-center" >手机号</th>
                                 <!--<th class="text-center">持卡人姓名</th>-->
                                <!-- <th class="text-center">开户行地址</th>
                                 <th class="text-center">银行卡号</th>-->
                                 <th class="text-center" >身份证号</th>
                                 <th class="text-center">申请时间</th>
                                 <th class="text-center">提现时间</th>
                                 <th class="text-center" style="width:6%">提现金额</th>
                                 <th class="text-center">状态</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr  ng-repeat="item in withdraw">
                                 <td >
                                     {{item.withdrawId}}
                                 </td>
                                 <td>{{item.nickName}}</td>
                                 <td>{{item.userType}}</td>
                                 <td>{{item.mobile}}</td>
                                <!-- <td>{{item.userName}}</td>-->
                             <!--    <td>{{item.bankCardAddress}}</td>
                                 <td>{{item.bankCardNumber}}</td>-->
                                 <td>{{item.identifyNumber}}</td>
                                 <td>{{item.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                 <td>{{item.updateDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                 <td>{{item.moneyAmount}}</td>
                                 <td ng-click="sendPrice(item.status,item.withdrawId,item.moneyAmount,item.id,item.sysUserId,item.moneyAmount);$event.stopPropagation()"><a class="orderBtn">{{item.status}}</a></td>
                             </tr>
                             </tbody>
                         </table>
                         <div class="priceArea" ng-show="flag" ng-click="viod();$event.stopPropagation()">
                             <p class="deposit"><label for="num">交易号：</label><input type="text" id="num"  ng-model="withdrawId" readonly="readonly"></p>
                             <p class="deposit"><label for="price">金额：</label><input type="text" id="price"  ng-model="moneyAmount" readonly="readonly"></p>
                             <p class="deposit"><button class="candel" style="color:#3300FF;" ng-disabled="isdisabled"  ng-click="changeWithdraw(2)">拒绝</button><button class="true"  style="color:#3300FF;" ng-disabled="isdisabled" ng-click="changeWithdraw(1)">确认</button></p>
                         </div>
                         <div page-tool></div>
                     </div>
                 </div>
            </div>

         </div>
     </div>
  </div>